<html>
    <head>
        <title>User Form</title>
    </head>
    <body>
       <div class="row">
        <div class="col-12">
            <form>
                <div>
                    <label for="">Value1</label>
                    <input type="text" name="num1" class="form=control"/>
                </div>
                <div>
                    <label for="">Value2</label>
                    <input type="text" name="num2" class="form=control"/>
                </div>
                <div class="pt-4">
                    <button type="submit">Save</button>
                </div>
                OUTPUT
                <input type="text" value="{{output}}"/>
       </div>


    </body>
</html>